body {
     background-color: grey
}
header h1{
    text-align: center;
    color: aqua;
    font-size: 60px;
}
img {
    margin: auto;
    display: block;
}
ul li {
    display: table;
    margin: 0 auto;
    font-size: 24px;
}
h3 {
    display: table;
    margin: 0 auto;
    font-size: 36px;
}